* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #1a2537;
}
::-webkit-scrollbar-thumb:hover {
  background: #507f9f;
}

.nav {
  width: 100%;
  background: #1a2537;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  position: fixed;
  overflow: hidden;
}
.nav-logo {
  padding-left: 50px;
}
.nav-logo img {
  width: 150px;
}
.nav-items {
  padding: 0;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.nav-items select {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}
.nav-items option {
  background: #fff;
  color: #000;
}
.nav-items a {
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
}
.nav-items a:nth-child(1) {
  border-left: 1px solid #fff;
}
.nav-items a:nth-child(2) {
  border-left: 1px solid #fff;
}
.nav-items a:nth-child(3) {
  border-left: 1px solid #fff;
}
.nav-items input {
  border-radius: 4px;
  padding: 6px 8px;
  border: none;
  outline: none;
}

.header {
  border-top: 1px solid #fff;
  background: #1a2537;
  padding: 10px;
  margin-top: 8vh;
  height: 92vh;
  position: fixed;
  width: 320px;
  z-index: 999;
  padding-bottom: 50px;
}
.header-title {
  padding-top: 15px;
  padding-bottom: 5px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 2px solid #fff;
  font-weight: bold;
}
.header a {
  color: #eee;
  text-decoration: none;
  display: block;
  border-bottom: 1px dotted #fff;
  padding: 7px 2px;
  font-size: 18px;
  transition: 0.2s;
}
.header a.active {
  padding-left: 10px;
  background: rgba(193, 193, 193, 0.6352941176);
  color: #fff;
}
.header a:hover {
  padding-left: 10px;
  background: rgba(193, 193, 193, 0.6352941176);
  color: #fff;
}

.main {
  padding-left: 340px;
  padding-top: 10vh;
  padding-bottom: 50px;
}
.main-top {
  display: flex;
  align-items: start;
  justify-content: center;
}
.main-top-img {
  width: 500px;
  height: auto;
  overflow: hidden;
  box-shadow: 1px 1px 20px 10px rgba(170, 170, 170, 0.3803921569);
}
.main-top-img img {
  width: 100%;
  height: auto;
}
.main-top-text {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.5529411765);
  border-radius: 7px;
  width: 500px;
  height: 600px;
  box-shadow: 1px 1px 20px 10px rgba(170, 170, 170, 0.3803921569);
}
.main-top-text h4 {
  font-size: 32px;
  font-weight: bold;
  color: #507f9f;
  padding: 13px 0;
}
.main-top-text p {
  padding: 13px 0;
  font-weight: bold;
  color: #507f9f;
}
.main-top-text a {
  padding: 10px 0;
  color: #507f9f;
  text-decoration: none;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
.main-title {
  font-style: italic;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #507f9f;
}
.main-basic {
  padding: 20px;
  width: 95%;
}
.main-basic h5 {
  text-transform: uppercase;
  text-align: left;
  font-style: italic;
  color: #507f9f;
  padding-top: 35px;
  font-size: 22px;
}
.main-basic h4 {
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  color: #507f9f;
  padding-top: 35px;
  font-size: 22px;
}
.main-basic p {
  font-style: italic;
  text-indent: 20px;
  padding-top: 20px;
  text-align: justify;
}
.main-basic img {
  width: 300px;
  margin: auto;
  text-align: center;
}
.main-basic ul li {
  list-style: none;
  font-style: italic;
  text-indent: 20px;
  padding-top: 20px;
  text-align: justify;
}
.main-basic table,
.main-basic th,
.main-basic td,
.main-basic tr {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 5px 15px;
  text-align: center;
  color: #1a2537;
  font-style: italic;
  font-size: 22px;
}
.main-basic .table {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main-member {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-member img {
  width: 300px;
  margin: auto;
}
.main-member h3 {
  font-size: 26px;
  text-align: center;
  color: #507f9f;
  font-style: italic;
}
.main-member p {
  text-align: center;
  color: #507f9f;
  font-style: italic;
}

@media (max-width: 990px) {
  .nav {
    width: 100%;
    background: #1a2537;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  .nav-logo {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .nav-logo img {
    width: 150px;
  }
  .nav-items {
    padding: 0;
    padding-right: 50px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 0px;
  }
  .nav-items select {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .nav-items a {
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
  }
  .nav-items a:nth-child(1) {
    border-left: none;
  }
  .nav-items a:nth-child(2) {
    border-left: none;
  }
  .nav-items a:nth-child(3) {
    border-left: none;
  }
  .nav-items input {
    border-radius: 4px;
    padding: 6px 8px;
    border: none;
    outline: none;
  }
  .header {
    border-top: 1px solid #fff;
    background: #1a2537;
    padding: 0;
    margin-top: 0vh;
    height: auto;
    position: relative;
    width: 100%;
    z-index: 999;
    padding-bottom: auto;
  }
  .header-title {
    padding: 15px 10px 5px 10px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #fff;
    font-weight: bold;
  }
  .header a {
    color: #eee;
    text-decoration: none;
    display: block;
    border-bottom: 1px dotted #fff;
    padding: 7px 10px;
    font-size: 18px;
    transition: 0.2s;
  }
  .header a.active {
    padding-left: 10px;
    background: rgba(193, 193, 193, 0.6352941176);
    color: #fff;
  }
  .header a:hover {
    padding-left: 10px;
    background: rgba(193, 193, 193, 0.6352941176);
    color: #fff;
  }
  .main {
    padding-left: 0;
    padding-top: 0vh;
    padding-bottom: 50px;
  }
  .main-top {
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .main-top-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 10px;
    box-shadow: 1px 1px 20px 10px rgba(170, 170, 170, 0.3803921569);
  }
  .main-top-img img {
    width: 100%;
    height: auto;
  }
  .main-top-text {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.5529411765);
    border-radius: 7px;
    width: 500px;
    height: 600px;
    box-shadow: 1px 1px 20px 10px rgba(170, 170, 170, 0.3803921569);
  }
  .main-top-text h4 {
    font-size: 32px;
    font-weight: bold;
    color: #507f9f;
    padding: 13px 0;
  }
  .main-top-text p {
    padding: 13px 0;
    font-weight: bold;
    color: #507f9f;
  }
  .main-top-text a {
    padding: 10px 0;
    color: #507f9f;
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
  }
  .main-title {
    font-style: italic;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #507f9f;
  }
  .main-basic {
    padding: 20px;
  }
  .main-basic h5 {
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    color: #507f9f;
    padding-top: 35px;
    font-size: 22px;
  }
  .main-basic p {
    font-style: italic;
    text-indent: 20px;
    padding-top: 20px;
    text-align: justify;
  }
}/*# sourceMappingURL=style.css.map */